# Music Analysis Winter 2020

## Deepak Sithu

## Table of Contents
- [Overview](#overview)
- [Initial Exploration](#exploration)
- [Data Wrangling](#wrangling)
- [Data Cleaning](#cleaning)
- [Analysis](#analysis)
- [Conclusion](#conclusion)

## Overview <a class="anchor" id="overview"></a>

In [1]:
# import libraries
import wikipedia as wiki
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# import dataset
df1 = pd.read_csv('music_winter_2020.csv')

## Initial Exploration <a class="anchor" id="exploration"></a>

In [4]:
df1.head()

,Date,Artist,Album,Rating,Notes
0,12/30/2019,Self Esteem,Compliments Please (DLX),9-10,repeat!!!
1,12/30/2019,Self Esteem,Compliments Please (DLX),9-10,repeat!!!
2,12/30/2019,Lincoln,A Constant State of Ohio,9,<3 <3 <3 Deepti's reccomendation!!!
3,12/31/2019,Carole King,Tapestry,7-8,NaN
4,12/31/2019,Robert Ashley,Improvement (Don Leaves Linda),7,* * *

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 5 columns):
Date      288 non-null object
Artist    288 non-null object
Album     288 non-null object
Rating    288 non-null object
Notes     172 non-null object
dtypes: object(5)
memory usage: 11.3+ KB

## Data Wrangling <a class="anchor" id="wrangling"></a>

In [8]:
# 9-10 rated albums
df1.Rating.unique()

array(['9-10', '9', '7-8', '7', '8-9', '8', '10', '6-7', '4', '6'],
      dtype=object)

In [9]:
df1[df1['Rating'] == '4']

         Date Artist      Album Rating                 Notes
243  3/9/2020  Kesha  High Road      4  bailed out @ 'Honey'

In [10]:
df1.Notes.unique()

array(['repeat!!!', "<3 <3 <3 Deepti's reccomendation!!!", nan, '* * *',
       'get into!!!', '<3 <3 <3 <3 <3', 'repeat!!',
       'repeat!!! sent Deepti!!!', 'sex music?',
       'repeat!!! send Jonny!!!', 'solid!!!',
       "Deepti's recommendation!!!", 'repeat!', 'BUY',
       'repeat!!! (recc to Jonny and Cy!!!)', '<3 <3 <3', 'BUY!!!',
       '<3 <3 <3 Deepti recc!!!', 'BUY and get into and repeat!!!',
       'repeat!! ("You, Me & Nobody Else")', 'repeat!!! and get into!!!',
       'repeat!!! and read!!!', 'get into though!!!',
       'repeat!!! get into!!!', 'zumba music <3', 'meditation music',
       'BUY <3 <3 <3', "Deepti's reccomendation!!!",
       'kinda complainy alcoholic guy vibe',
       'repeat!!! Deepti may like!!!', 'repeat!!! research!!!',
       'yo get into bruce!!!', 'called the Denzel Curry spot!!!',
       "bailed out @ 'Honey'", 'like Dave!',
       'bailed at first song when they said, "like arabs on the track"'],
      dtype=object)

In [11]:
df1[df1['Notes'] == 'bailed at first song when they said, "like arabs on the track"']

,Date,Artist,Album,Rating,Notes
266,3/16/2020,Tanya Tucker,While I'm Livin',6,"bailed at first song when they said, ""like ara..."

In [ ]:
##### make list of names of artists where they will show up correctly when searched on wikipedia!!! (like self-esteem)

In [15]:
wiki.summary(df1.Artist[3])

"Carole King (born Carol Joan Klein, February 9, 1942) is an American singer-songwriter who has been active since 1958, initially as one of the staff songwriters at the Brill Building and later as a solo artist. She is the most successful female songwriter of the latter half of the 20th century in the US, having written or co-written 118 pop hits on the Billboard Hot 100.  King also wrote 61 hits that charted in the UK,  making her the most successful female songwriter on the UK singles charts between 1952 and 2005.King's major success began in the 1960s when she and her first husband, Gerry Goffin, wrote more than two dozen chart hits, many of which have become standards, for numerous artists. She has continued writing for other artists since then. King's success as a performer in her own right did not come until the 1970s, when she sang her own songs, accompanying herself on the piano, in a series of albums and concerts. After experiencing commercial disappointment with her debut album Writer, King scored her breakthrough with the album Tapestry, which topped the U.S. album chart for 15 weeks in 1971 and remained on the charts for more than six years.King has made 25 solo albums, the most successful being Tapestry, which held the record for most weeks at No. 1 by a female artist for more than 20 years. Her record sales were estimated at more than 75 million copies worldwide. She has won four Grammy Awards and was inducted into the Songwriters Hall of Fame and the Rock and Roll Hall of Fame for her songwriting. She is the recipient of the 2013 Library of Congress Gershwin Prize for Popular Song, the first woman to be so honored.  She is also a 2015 Kennedy Center Honoree."

In [ ]:
# Quality
# - completeness (bring in genre info from wikipedia)
# - validity
# - accurary
# - consistency

## Data Cleaning <a class="anchor" id="cleaning"></a>

In [ ]:
# list issues
# copy dataframes
# address completeness issues
# address tidiness issues
# address remaining quality issues
# store dataframes
# finalize dataframes

## Issues
- convert Date to datetime format
- convert Rating to int
- adjust half numbers
- convert repeats in Notes
- check out of range numbers and what to do with them
- separate repeats from other types of notes and potentially make them into separate columns
- remove Kesha 'high road' and Tanya Tucker While I'm Livin

### Issue

### Define

### Code

### Test

## Analysis <a class="anchor" id="analysis"></a>

In [ ]:
# initial exploration
# univariate analysis and visualizations
# bivariate analysis and visualizations
# multivariate analysis and visualizations
# statistical analysis

## Conclusion <a class="anchor" id="conclusion"></a>

In [ ]:
# explanatory visualizations
# conclusions
# limitations